.constructor-catalogue-wrapper{
    display: flex;
    margin-top: 20px;
    /* color: #111;
    border-radius: var(--product-border-radius); */
}


.categories-list-wrapper{
    width: 30%;
    background-color: #222;
    border-radius: var(--product-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
}

.items-list-wrapper {
    width: 70%;
    background-color: #333;
    height: 600px;
    overflow: auto;
    border-radius: var(--product-border-radius);
}


ul {
    padding: 0;
    margin-left: 20px;
}

.category-link-item {
    list-style: none;

}

.category-link {
    color: var(--primary-color);
    text-decoration: none;
}

.category-link:hover {
    color: #888;
    transition: color .1s linear;
}

#wp-product-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    height: 420px;
    overflow: auto;
    border-radius: var(--product-border-radius);
}

.wp-cotructor-transition,
.pc-cotructor-transition {
    margin-left: 20px;
}

.wp-constructor-link,
.pc-constructor-link,
.packets-link{
    color: var(--primary-color);
    text-decoration: none;
}

.wp-constructor-link:hover,
.pc-constructor-link:hover,
.packets-link:hover{
    color: #888;
    transition: color .1s linear;
}

.last-step-construct {
    margin-left: 20px;
    margin-bottom: 20px;
}


.suggestions-wrapper {
    display: flex;
    background-color: var(--suggestions-bg-color);
    margin: 20px 0;
    padding: 15px;
    border-radius: var(--product-border-radius);
}

.suggestions-wrapper .packet-preview {
    width: 30%;
}

.suggestions-wrapper .list {
    width: 70%;
}

.suggestions-wrapper .list .head-section {
    display: flex;
}

.suggestions-wrapper .list .head-section .title {
    flex-grow: 1;
    width: 100%;
}

.suggestions-wrapper .list .head-section .close-button {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--suggestions-close-bg-color);
    cursor: pointer;
    border-radius: var(--button-border-radius);
}

.suggestions-wrapper .list .head-section .close-button:hover {
    background-color: var(--suggestions-close-bg-color-hover);
}

.suggestions-wrapper .list .head-section .close-button img {
    width: 100%;
    height: auto;
}
