.question-block{
    margin-top: 20px;
}

.question{
    background-color: #151515;
    border-radius: var(--product-border-radius);
    box-sizing: border-box;
    margin-bottom: 10px;

}

.question-span{
    border-radius: var(--product-border-radius);
    font-size: 30px;
    color: white;
    box-sizing: border-box;
    padding: 10px;
}

.question:hover{
    border: 1px solid var(--primary-color);
}



.answer-question{
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
}