.outter {
    display: flex;
    margin-top: 30px;
}

.block-name {
    font-size: 25px;
    color: white;
}

.column {
    width: 50%;
    height: 600px;
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    padding: 15px;
    box-sizing: border-box;
}

.packets-block {
    margin-right: 15px;
    overflow: auto;
}
