:root {
    --primary-color: #16bb68;
    --primary-color-active: #4fcc8d;
    --product-bg-color: #222222;
    --product-bg-color-hover: #22222242;
    --suggestions-bg-color: #545454;
    --product-border-radius: 10px;
    --button-border-radius: 4px;
    --suggestions-close-bg-color: transparent;
    --suggestions-close-bg-color-hover: #fff2;
}

html,
body {
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    /*font-family: 'Akshar', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #888;
    width: 100%;
    height: 100%;

}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#page-wrapper {
    position: relative;
    z-index: 2;
    background-color: rgb(29, 29, 29);
    width: 1200px;
    margin: 0 auto;
    padding: 25px;
    padding-bottom: 0;
    min-height: 100%;

}

/* footer */

#footer-img {
    width: 100%;
    height: 120px;
}

#footer {
    border-top: 1px solid var(--primary-color);
    min-width: 1200px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

a {
    color: #888;
    text-decoration: none;
}

a:visited {
    color: #888;
    text-decoration: none;
}



#overlay-host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

#overlay-host.interactive {
    pointer-events: initial;
}


#overlay-host>* {
    pointer-events: initial;
}

.page_name {
    display: inline-block;
    font-size: 35px;
    color: #FFF;
}

.subtitle-underline {
    height: 1px;
    width: 150px;
    background-color: var(--primary-color);
}

.header {
    min-width: 1200px;
    z-index: 1;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #888;
    margin: 0 15px;
}

.header_logo_link {
    font-size: 30px;
    font-weight: 700;
    color: #888;
    margin: 0 15px;
    text-decoration: none;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #888;
    text-decoration: none;

    transition: color .2s linear;
}


.nav_link_footer {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    font-size: 20px;

    color: #888;
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link_footer:hover {
    color: #00ff9c;
}

.nav_link:hover {
    color: #00ff9c;
}

.nav_link:hover:after {
    opacity: 1;
}

/* 
.section_1 {
    width: 600px;
    height: 600;

} */

/**/

.block_one {
    min-width: 1200px;
    height: 35px;
    z-index: 1;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);
}

.space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_two {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link_two {
    padding-top: 3px;
    font-size: 18px;
    display: inline-block;
    margin: 0 15px;
    position: relative;

    color: rgb(255, 255, 255);
    text-decoration: none;

    transition: color 0.5s linear;
    text-transform: uppercase;
}

.nav_link_two:hover {
    color: #00FF00;
}

.nav_link_two:hover:after {
    opacity: 1;
}

.button_under {
    font-size: 20px;
    font-weight: 700;
    color: #888;
    margin: 0 15px;
    font-size: 15px;
}

.nav_two_right {
    font-size: 18px;
}

/*Search*/
.search {
    height: 15px;
    display: inline-flex;
    border: 1px solid #888;
    border-radius: 30px;
    padding: 10px;
}

.search-icon {
    width: 15px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    order: -1;
}

.search-field {
    background-color: #1D1D1D;
    color: rgb(0, 0, 0);
    width: 550px;
    border: 0;
}

.search-field:focus {
    outline: none;
}


#search-results-template {
    position: absolute;
    max-height: 80%;
    background-color: var(--product-bg-color);
    border-radius: var(--product-border-radius);
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}

INPUT[type="text"] {
    font-family: 'Akshar', sans-serif;
    color: #888;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-list.inline {
    flex-direction: column;
}


.products-list .product-item {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    height: 400px;
    width: 33.333%;
}

.products-list.inline .product-item {
    width: 100%;
    height: 130px;
}

.products-list .product-item a:hover {
    background: var(--product-bg-color-hover);
    border: 1px solid var(--primary-color);
}

.products-list .product-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--product-bg-color);
    border-radius: var(--product-border-radius);
    transition: all ease-in .2s;
    border: 1px solid transparent;
    border-radius: var(--product-border-radius);
}

.products-list .product-item a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--product-border-radius);
}

.products-list .product-item .product-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.products-list.inline .product-item .product-inner {
    flex-direction: row;
    align-items: center;
}

.products-list.inline .product-item .product-inner .product-info {
    width: calc(100% - 140px);
}

.products-list .product-item .product-inner img {
    display: block;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.products-list.inline .product-item .product-inner img {
    max-width: 80px;
    height: auto;
    max-height: 100%;
    margin: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.products-list .product-item .props {
    display: block;
    max-height: 40px;
    overflow: hidden;
}

.products-list .product-item .title {
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}


.products-list .buttons .product-quantity,
.products-list .buttons .minus-btn {
    display: none;
}

.products-list .buttons.extended .product-quantity,
.products-list .buttons.extended .minus-btn {
    display: initial;
}


.products-list .buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: calc(100% - 50px);
    height: 40px;
}

.products-list.inline .buttons {
    flex-direction: column;
    justify-content: space-between;
    right: 25px;
    top: 25px;
    bottom: unset;
    left: unset;
    height: calc(100% - 50px);
    width: 40px;
}

.products-list .buttons button {
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-color);
    height: 40px;
    width: 100%;
}

.products-list .buttons.extended button {
    width: 40px;
}

.products-list .buttons .product-quantity {
    min-width: 35px;
    height: 35px;
    text-align: center;
}

.products-list .buttons button img {
    width: 20px;
    margin: 0 auto;
}


.products-list .buttons button:active {
    background-color: var(--primary-color-active);
}


.product-option {
    display: flex;
}

.product-option .product-option-name {
    width: 30%;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.content-box-header {
    margin-top: 25px;
}

#packets-box {
    height: 200px;
    background-color: #1D1D1D;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    
    border-radius: var(--product-border-radius);
}

.content-box-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.left-information-box{
    height: 400px;
    width: 50%;
    margin-right: 12px;
    
    background-color: #1D1D1D;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    margin-top: 10px;
    border-radius: var(--product-border-radius);
}

.right-information-box{
    height: 400px;
    width: 50%;
    margin-left: 12px;
    
    background-color: #1D1D1D;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    margin-top: 10px;
    border-radius: var(--product-border-radius);
}

.content-box-footer {
    margin-bottom: 25px;
    
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track {
    background-color: rgb(29, 29, 29);
} */

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 255, 255);
}