.product-place {
    display: flex;
    justify-content: space-between;
}

.left-side-product {
    width: 30%;
    margin-right: 10px;
    background-color: #151515;
    border-radius: var(--product-border-radius);
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    max-height: 300px;
}

.right-side-product {
    width: 70%;
    border-radius: var(--product-border-radius);
    box-sizing: border-box;
    height: auto;
    overflow: auto;
}

.product-description-div{
    border-radius: var(--product-border-radius);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--primary-color);
    height: 300px;
    background-color: #151515;
    overflow: auto;
}

.product-properties-div{
    margin-top: 10px;
    border-radius: var(--product-border-radius);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--primary-color);
    height: auto;
    background-color: #151515;
}

#main-photo {
    display: block;
    height: 300px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    border-radius: var(--product-border-radius);

}



#product-description {
    font-size: medium;
    margin-top: 10px;

}

.product-name {
    margin-left: 15px;
}

.product-button {
    border-radius: var(--button-border-radius);
    border: none;
    background-color: var(--primary-color);
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

h2{
    margin: 0;
}